*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: black;

}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.calc {
    padding: 20px;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    box-shadow: -1px -1px 10px 10px  rgba(10,97,160);
}
#input {
    width: 100%;
    max-width:400px ;
    border-radius: 20px;
    border: none;
    height: 100px;
    background: transparent;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
button {
    border: none;
    color: #fff;
    margin: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: transparent;
    box-shadow:3px 3px 6px 7px rgb(10, 97, 160),1px 2px 5px 5px rgba(10, 97, 160) ;
    cursor: pointer;


}
@media only screen and (max-width: 461px) {
    button {
        /* border: none; */
        /* color: #fff; */
        margin: 8px;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background: transparent;
        box-shadow:3px 3px 6px 7px rgb(10, 97, 160),1px 2px 5px 5px rgba(10, 97, 160) ;
        cursor: pointer;
    
    }
  }